.acme-navbar-text{
  color: white;
}

.header {
  height: 42px;
  i,span:hover {
    cursor: pointer;
  }

}

md-toolbar {
  position:fixed;
}

md-progress-linear {
  position:absolute;
}

.nav-toggle {
  position: absolute;
  top: 14px;
  left: 18px;
  font-size: 1.9em;
}

.nav-back {
  position: absolute;
  top: 14px;
  left: 10px;
  display: none;
}

.nav-home {
  display: none;
}

@media screen and (min-width: 860px) {
  .nav-toggle {
    display: none;
  }

  .nav-mob-header {
    display: none;
  }

  .breadcrumbs {
    display: block;
  }
}

.hamburger {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1.9em;
  display: none;
}

.docs-menu-separator-icon {
  position: relative;
  top: 5px;
}

.nav-filter {
  position: absolute;
  top: 10px;
  right: 120px;
  font-size: 2.2em;
}

.nav-options {
  position: absolute;
  top: 14px;
  right: 70px;
  font-size: 1.9em;
}

.nav-logout {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 1.9em;
}

.nav-home {
  position: absolute;
  top: 12px;
  right: 18px;
}

.md-breadcrumb {
  margin-left: 80px;
}

.menu{
  padding-top: 40px;
  li i {
    margin-right: 10px;
    font-size: 1.3em;
    position: relative;
    top: 6px;
    padding: 8px 4px;
  }

  a {
    text-decoration: none;
    font-size: 1.2em;
  }

  li:hover {
    background: $primary-color;
    color: #fff;
    cursor: pointer;

    a {
      color: #fff;
    }
  }
}


@media screen and (max-width: 859px) {
  .nav-toggle {
    display: block;
  }

  .nav-mob-header {
    display: block;
    position: absolute;
    top: 4px;
    left: 80px;
    font-size: 1.5em;
  }
  .breadcrumbs {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-options, .nav-filter, .nav-toggle, .hamburger, .nav-logout {
    font-size: 1.7em;
    top: 8px;
  }

  .nav-home {
    top: 8px;
    right: 8px;
  }

  .md-breadcrumb {
    margin-left: 100px;
  }
}
