<md-toolbar layout="row" layout-align="center center" class="header md-primary">
  <i class="material-icons nav-toggle" ng-click="vm.toggle()">menu</i>

  <div layout="row" flex class="fill-height breadcrumbs">
    <h2 class="md-toolbar-item md-breadcrumb md-headline">
      <span>
              <span hide-sm hide-md ng-click="vm.navigateHome()">Home</span>
              <span class="docs-menu-separator-icon" hide-sm hide-md ng-if="vm.state !== 'home'">
                <i class="material-icons">keyboard_arrow_right</i>
              </span>
              <span ng-if="vm.state !== 'home'" ng-click="vm.navigateBack()">Collection</span>
        <span class="docs-menu-separator-icon" hide-sm hide-md>
                <i class="material-icons" ng-if="vm.state === 'customer'">keyboard_arrow_right</i>
              </span>
              <span ng-if="vm.state === 'customer'">Documents</span>

            </span>
    </h2>
  </div>

  <i class="mdi mdi-filter-variant nav-filter"></i>
  <i class="mdi mdi-dots-vertical nav-options"></i>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar class="md-theme-indigo">

  </md-toolbar>
  <md-content layout-padding>

    <nav class="menu">
      <ul>
        <li ng-click="vm.closeMenu()"><a ui-sref="home"><i class="material-icons">home</i> Home</a></li>
      </ul>
    </nav>
  </md-content>
</md-sidenav>
