<div class="options-popup" ng-show="vm.displayOptions">
  <!--test-->
  <div style="text-align: center;padding:5px;">
    <i class="mdi mdi-checkbox-blank-circle" style="color: #310055;"></i>
    <i class="mdi mdi-checkbox-blank-circle" style="color: #212121;"></i>
    <i class="mdi mdi-checkbox-blank-circle" style="color: #727272;"></i>
  </div>
  <md-divider></md-divider>
  <ul>
    <li ng-click="$event.stopPropagation();fullScreen();vm.displayOptions = !vm.displayOptions"><span class="popup-icon"><i class="mdi" ng-class="isFullScreen ? 'mdi-fullscreen-exit' : 'mdi-fullscreen'"></i></span> {{!isFullScreen ? ('navbar.fullscreen'|i18n) : ('navbar.regularscreen'|i18n)}}</li><!--mdi-fullscreen-exit-->
    <li ng-click="$event.stopPropagation();vm.changeState(vm.toggleMode.alterState, vm.toggleMode.thisState);vm.displayOptions = !vm.displayOptions"><span class="popup-icon"><i class="mdi" ng-class="vm.cardMode ? 'mdi-view-list' : 'mdi-view-module'"></i></span>&nbsp;{{vm.cardMode ? ('navbar.list'|i18n) : ('navbar.card'|i18n)}} {{'navbar.mode' | i18n}}</li>
    <li ng-if="vm.state === 'collection'" ng-click="$event.stopPropagation();vm.toggleEmptyCollectionFiltering();vm.displayOptions = !vm.displayOptions"><span class="popup-icon"><i class="mdi" ng-class="!showEmptyCollections ? 'mdi-numeric-0-box-outline' : 'mdi-numeric-0-box'"></i></span> {{!showEmptyCollections ? ('navbar.emptysets'|i18n) : ('navbar.emptysetshid'|i18n)}}</li><!--mdi-numeric-0-box-->
  </ul>
</div>
