.acme-navbar-text{
  color: white;
}

.header {
  height: 42px;
  i,span:hover {
    cursor: pointer;
  }
}

md-toolbar {
  position:fixed;
}

md-progress-linear {
  top: 0;
  z-index:3;
  position:absolute;
}

.nav-toggle {
  position: absolute;
  top: 14px;
  left: 10px;
  font-size: 1.9em;
  display: block;
}

.nav-back {
  position: absolute;
  top: 14px;
  left: 10px;
  display: none;
}

.nav-home {
  display: none;
}

.nav-menu-selected {
  background-color: #eeeeee;
}

.options-popup {
  position: fixed;
  top: 75px;
  right: 50px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  z-index: 100;
  font-size: 18px;

  ul {
    list-style: none;
    width: 100%;
    padding: 2px 25px 2px 15px;

    li {
      padding: 10px 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.hamburger-header-items {
  position:absolute;
  top: 16px;
  outline:none;
  &:first-child {
    right: 16px;
  }
  /*&:last-child {
    left: 16px;
  }*/
}

md-divider {
  margin: 5px;
}

.options-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@media screen and (min-width: 860px) {
  /*.nav-toggle {
    display: none;
  }*/

  .nav-mob-header {
    display: none;
  }

  .breadcrumbs {
    display: block;
  }
}

.hamburger {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1.9em;
  display: block;
}

.docs-menu-separator-icon {
  position: relative;
  top: 5px;
}

.nav-filter {
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 1.9em;
}

.nav-options {
  position: absolute;
  top: 14px;
  right: 70px;
  font-size: 1.9em;
}

.nav-logout {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 1.9em;
}

.nav-home {
  position: absolute;
  top: 12px;
  right: 18px;
}

.md-breadcrumb {
  margin-left: 80px;
}

.menu{
  padding-top: 40px;
  li i {
    margin-right: 10px;
    font-size: 1.3em;
    position: relative;
    top: 6px;
    padding: 8px 4px;
  }

  a {
    text-decoration: none;
    font-size: 1.2em;
  }

  li:hover {
    background: $primary-color;
    color: #fff;
    cursor: pointer;

    a {
      color: #fff;
    }
  }

  md-divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 859px) {

  .nav-mob-header {
    display: block;
    position: absolute;
    top: 4px;
    left: 80px;
    font-size: 1.5em;
  }

  .breadcrumbs {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-options, .nav-filter, .nav-toggle, .hamburger, .nav-logout {
    font-size: 1.7em;
    top: 8px;
  }

  .nav-home {
    top: 8px;
    right: 8px;
  }

  .md-breadcrumb {
    margin-left: 100px;
  }
}

.app-version {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 1.2em;
}
