<md-toolbar layout="row" layout-align="center center" class="header md-primary" ng-if="!vm.hideHeader">
  <md-progress-linear ng-show="busy" md-mode="indeterminate"></md-progress-linear>
  <i class="mdi mdi-menu hamburger" ng-click="vm.toggle()"></i>
  <span class="nav-mob-header" ng-click="vm.navigateHome()">{{vm.appConfig.appName}}</span>


  <span class="nav-back" ng-if="vm.state !== 'home'">
    <span class="docs-menu-separator-icon" ng-click="vm.navigateUp()">
      <i class="material-icons">keyboard_arrow_left</i>
    </span>
  </span>
  <div layout="row" flex class="fill-height breadcrumbs">
    <h2 class="md-toolbar-item md-breadcrumb md-headline">
      <span>
        <span hide-sm hide-md ng-click="vm.navigateHome()">{{vm.appConfig.appName}}</span>
        <span class="docs-menu-separator-icon" hide-sm hide-md ng-if="vm.state !== 'home'">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>

        <span class="nav" ng-if="vm.state === 'accesskey'">Documents By Access Key</span>
        <span class="nav" ng-if="vm.state === 'search'" ng-click="vm.navigateHome()">Search</span>
        <span ng-if="vm.state === 'search'" class="docs-menu-separator-icon" hide-sm hide-md>
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
        <span class="nav" ng-if="vm.state === 'search'" ng-click="vm.toggleFilter()">{{vm.params.searchPhrase}}</span>
        <span class="nav" ng-if="vm.state === 'changelog'" ng-click="vm.navigateHome()">Change Log</span>
        <span class="nav" ng-if="vm.state === 'collection' && (vm.params.collectionLocale || vm.storageCache.core[vm.params.collectionId])" ng-click="vm.navigateUp()">{{vm.params.collectionLocale || vm.storageCache.core[vm.params.collectionId].locale}}</span>
        <span class="nav" ng-if="vm.state === 'customer' && (vm.previousStateParams.collectionLocale || vm.storageCache.core[vm.params.collectionId])" ng-click="vm.navigateUp()">{{vm.previousStateParams.collectionLocale || vm.storageCache.core[vm.params.collectionId].locale}}</span>
        <span class="docs-menu-separator-icon" hide-sm hide-md ng-if="vm.state === 'customer' && ( vm.params.collectionLocale || vm.storageCache.collections[vm.params.customerId])">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>

        <span class="nav" ng-if="vm.state === 'customer' && (vm.params.locale || vm.storageCache.collections[vm.params.customerId])" ng-click="vm.navigateUp()">{{vm.params.locale || vm.storageCache.collections[vm.params.customerId].locale}}</span>

      </span>
    </h2>
  </div>

  <!--<span class="nav-mode-switch" ng-click="$event.stopPropagation(); vm.changeState(vm.toggleMode.alterState, vm.toggleMode.thisState);">
    <i class="mdi" ng-class="vm.cardMode ? 'mdi-view-list' : 'mdi-view-module'"></i>
  </span>-->
  <i class="mdi mdi-dots-vertical nav-options" ng-click="$event.stopPropagation();vm.displayOptions = !vm.displayOptions"></i>
  <i class="mdi mdi-magnify nav-filter" ng-click="vm.displayOptions = false;vm.toggleFilter()"></i>
  <i class="nav-home" ng-click="vm.navigateHome()">
    <img src="assets/images/365Header.png" style="width:40px">
  </i>
</md-toolbar>

<div class="options-popup" ng-show="vm.displayOptions">
  <!--test-->
  <div style="text-align: center;padding:5px;">
    <i class="mdi mdi-checkbox-blank-circle" style="color: #310055;"></i>
    <i class="mdi mdi-checkbox-blank-circle" style="color: #212121;"></i>
    <i class="mdi mdi-checkbox-blank-circle" style="color: #727272;"></i>
  </div>
  <md-divider></md-divider>
  <ul>
    <li ng-click="$event.stopPropagation();fullScreen();vm.displayOptions = !vm.displayOptions"><span class="popup-icon"><i class="mdi" ng-class="isFullScreen ? 'mdi-fullscreen-exit' : 'mdi-fullscreen'"></i></span> Full Screen</li><!--mdi-fullscreen-exit-->
    <li ng-click="$event.stopPropagation();vm.changeState(vm.toggleMode.alterState, vm.toggleMode.thisState);vm.displayOptions = !vm.displayOptions"><span class="popup-icon"><i class="mdi" ng-class="vm.cardMode ? 'mdi-view-list' : 'mdi-view-module'"></i></span>&nbsp;{{vm.cardMode ? 'Card' : 'List'}} Mode</li>
    <li ng-if="vm.state === 'collection'" ng-click="$event.stopPropagation();vm.toggleEmptyCollectionFiltering();vm.displayOptions = !vm.displayOptions"><span class="popup-icon"><i class="mdi" ng-class="!showEmptyCollections ? 'mdi-numeric-0-box-outline' : 'mdi-numeric-0-box'"></i></span> Empty Sets</li><!--mdi-numeric-0-box-->
  </ul>
</div>

<!--<div class="options-backdrop" ng-show="displayOptions" ng-click="displayOptions = !displayOptions" style="height: 24px;"></div>--></br><!--remove br, revise padding-top-->

<md-sidenav class="md-sidenav-left md-whiteframe-z2 sidenav-pos" style="display: flex;flex-direction: column;" md-component-id="left">
  <md-toolbar layout="row" class="header" style="position:absolute;top:0;">
    <h2 class="md-toolbar-item md-headline">
      <!--<span class="hamburger-header-items" ng-click="$event.stopPropagation(); vm.changeState(vm.toggleMode.alterState, vm.toggleMode.thisState);vm.toggle();"><i class="mdi" ng-class="vm.cardMode ? 'mdi-view-list' : 'mdi-view-module'"></i></span>-->
    </h2>
    <!--<span flex></span>
    <md-button class="md-icon-button" style="top:12px" ng-click="vm.toggle()">
      <i class="material-icons">close</i>
    </md-button>-->
  </md-toolbar>
  <md-content>
    <nav class="menu">
      <ul>
        <li ng-click="vm.closeMenu();"><a ui-sref="home"><i class="material-icons">home</i> Home</a></li>
        <li ng-class="ci.group.value == vm.params.collectionId ? 'nav-menu-selected' : ''" ng-click="vm.closeMenu();" ng-repeat="ci in vm.coreItems">
          <a ui-sref="collection({collectionId: ci.group.value, collectionLocale: ci.group.locale})">
            <i class="material-icons">keyboard_arrow_right</i>{{ci.group.locale}}
          </a>
        </li>
        <md-divider></md-divider>
        <li ng-click="vm.closeMenu();">
          <a ui-sref="changelog">
            <i class="material-icons">info_outline</i> About
          </a>
        </li>
        <li ng-if="vm.state!='accesskey'" ng-click="vm.logout();vm.closeMenu();">
            <a ui-sref="login">
               <i class="material-icons">exit_to_app</i> Logout
            </a>
        </li>
        <li ng-if="vm.state == 'accesskey'" ng-click="vm.closeMenu();">
          <a ui-sref="login">
            <i class="material-icons">exit_to_app</i> Log in
          </a>
        </li>
      </ul>
    </nav>
  </md-content>
  <!--<md-content style="flex-grow: 1; min-height: 38px;">
    <div  class="app-version" ng-click="vm.toggle();"><a ui-sref="changelog">{{::vm.version}}</a></div>
  </md-content>-->
</md-sidenav>

<md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-pos" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h1>Filter</h1>
      <span flex></span>
      <md-button class="md-icon-button sidenav-right-close" ng-click="closeFilter()">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding style="padding-top:72px;">
    <md-input-container flex="100">
      <label>Search</label>
      <span>
        <input type="search" autofocus="autofocus" name="search" data-ng-model="searchField" ng-keyup="search($event.keyCode);" md-autofocus/>
      </span>
    </md-input-container>
    <span ng-if="searchField">
        <md-button class="md-icon-button " ng-click="searchField='';documentsService.searchFilter=''">
          <i class="material-icons">close</i>
        </md-button>
    </span>
    <form ng-if="filters">
      <ons-list ng-model="groupKey">
        <div ng-repeat="(k,v) in filters">

          <ons-list-item ng-click="toggleGroup(k)" class="title" class="active" ng-class="{active:isGroupShown(k)}">
            <ons-icon icon="caret-down" ng-if="isGroupShown(k)"></ons-icon>
            <ons-icon icon="caret-right" ng-if="!isGroupShown(k)"></ons-icon>
            &nbsp;{{ v.group.locale }}<ons-icon class="filter-asterisk" icon="asterisk" ng-if="groupFilters[k]"></ons-icon>
          </ons-list-item>

          <ons-list-item class="item-accordion" ng-repeat="t in filters[k].title" ng-show="isGroupShown(k)">
            <label class="checkbox">
              <input ng-model="filterData.titleIds[k][t.id]" type="checkbox" name="titleId" ng-change="applyFilter();">
              <div class="checkbox__checkmark"></div>
              <span class="ons-checkbox-inner">&nbsp;{{ t.locale || t.value }}</span>
            </label>
          </ons-list-item>
        </div>
      </ons-list>

    </form>
  </md-content>
</md-sidenav>
