<div class="options-popup chat-box" ng-show="vm.displayChat">
  <div class="box-header">{{!vm.chatIncomingUser && !vm.currentRemotePartner ? 'Chat' : ''}}
    <div class="chat-incoming-user chat-full-header" ng-if="vm.chatIncomingUser">
      <strong class="chat-fullname">{{vm.chatIncomingUser.name}}</strong> from <i>{{vm.chatIncomingUser.company}}</i>
    </div>
    <div class="chat-incoming-user" ng-if="vm.currentRemotePartner">
      <i class="mdi mdi-account" ng-class="vm.currentRemotePartner.online ? 'partner-online' : 'partner-offline'"></i>
      <span ng-if="vm.currentRemotePartner.fullname"><strong class="chat-fullname">{{vm.currentRemotePartner.fullname}}</strong> from </span><i>{{vm.currentRemotePartner.name}}</i>
    </div>
    <ul class="box-actions" ng-show="vm.accessKeyUser">
      <li ng-click="vm.togglePartners()">
        <a href="#">
          <i class="mdi mdi-account-multiple">
          </i>
        </a>
      </li>
    </ul>
  </div>
  <div ng-show="vm.displayPartners" class="chat-partner-list">
    <div class="parnter" ng-repeat="partner in vm.partners">
      <div class="partner-item" ng-click="partner.online && vm.chatPartner(partner);">
        <i class="mdi mdi-account" ng-class="partner.online ? 'partner-online' : 'partner-offline'">
        </i>
        <span>{{partner.name}}</span><br/>
        <span ng-if="!partner.online" class="partner-lastseen">last seen: {{(partner.lastSeen| date: "dd.MM.yyyy hh:mm") || 'never'}}</span>
      </div>
    </div>
  </div>
  <div class="chat-container">
    <div class="chat" style="" >
      <!--ng-class="(($index + 1) % 2) ? 'me' : ''"-->
      <div class="message" ng-class="message.me ? 'me' : ''" ng-repeat="message in vm.chatMessages track by $index">
        <!--<div class="chat-username" style=""></div>-->
        <i class="mdi mdi-account chat-box-user-icon" ng-class="message.me ? 'chat-box-user-icon-me' : ''" title="{{message.fromUserType == 'partner' ? (message.fullname ? message.fullname : message.partnerName) : message.name}}"></i>
        <div>
          <p><span class="chat-message-username">{{message.fromUserType == 'partner' ? (message.fullname ? message.fullname : message.partnerName) : message.name}}</span><br/>
            {{message.text}}</p>
        </div>
      </div>
      <!--<div class="message">
        <img src="http://api.randomuser.me/portraits/med/men/66.jpg" />
        <div><p>Aliquam gravida semper pharetra.</p></div>
      </div>
      <div class="message me">
        <img src="http://api.randomuser.me/portraits/med/women/36.jpg" />
        <div><p>
          Curabitur congue lorem quis dolor blandit hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Vivamus bibendum efficitur tortor, non porttitor magna imperdiet in.
        </p></div>
      </div>
      <div class="message me">
        <img src="http://api.randomuser.me/portraits/med/women/36.jpg" />
        <div><p>Curabitur feugiat libero sed lacinia sollicitudin.</p></div>
      </div>
      <div class="message me">
        <img src="http://api.randomuser.me/portraits/med/women/36.jpg" />
        <div><p>Cras mollis nisl ac velit euismod ultrices.</p></div>
      </div>
      <div class="message">
        <img src="http://api.randomuser.me/portraits/med/men/66.jpg" />
        <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget pretium sapien, et gravida metus.</p></div>
      </div>
      <div class="message">
        <img src="http://api.randomuser.me/portraits/med/men/66.jpg" />
        <div><p>Aliquam gravida semper pharetra.</p></div>
      </div>-->
      <div id="chat-bottom" style="height: 10px"></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div ng-show="vm.currentRemotePartner || vm.chatMessages.length!=0" class="box-footer" href="">
    <textarea placeholder="Type and use Ctrl+Enter or Send button" name="messageArea" ng-model="vm.currentMessage" ng-keydown="vm.handleCtrlEnter($event)"></textarea>
    <i class="mdi mdi-send chat-send-icon" ng-click="vm.sendMessage();" title="Send"></i>
  </div>
  <!--test-->
  <!--<div style="text-align: center;padding:5px;">
    {{'Notifications'}}
  </div>
  <md-divider></md-divider>
  <ul>
    <li ng-click="$event.stopPropagation();"><span class="popup-icon"><i class="mdi" ng-class="'mdi-fullscreen'"></i></span> text</li>
  </ul>-->
</div>
