<div class="login-container">
  <div class="content-container" layout="row" layout-sm="column">
    <div flex-gt-sm class="content-left-border">
      <div class="login-left-content-settings">
        <span style="display: block; font-size: 12px;">Need an account?</span>
        <md-button data-ng-click="login.onClickForRegistration()" class="md-raised login-sample-button">Create Account</md-button>
      </div>
    </div>
    <div flex-gt-sm class="content-right" >
      <div id="signin">Sign In</div>
      <form name="login.loginForm" id="loginForm" ng-keyup="$event.keyCode == 13 && login.onLogin()" novalidate>
        <div>
          <md-input-container>
            <label class="login-validation-color">Username</label>
            <input type="email" validate-email style="color:white !important;border-color: rgb(250, 245, 245) !important;" name="userId" data-ng-model="login.userInfo.userId" required />
            <div ng-messages="login.loginForm.userId.$error">
              <span ng-message="required" class="login-validation-color">{{'error.5021' | i18n}}</span>
              <div ng-message="email" class="login-validation-color">{{'error.5022' | i18n}}</div>
            </div>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label class="login-validation-color">Password</label>
            <input type="password" style="color:white !important;border-color: rgb(250, 245, 245) !important;"  name="passWord" data-ng-model="login.userInfo.passWord" required server />
            <div ng-messages="login.loginForm.passWord.$error">
              <span ng-message="required" class="login-validation-color">{{'error.5024' | i18n}}</span>
              <div ng-message="server" class="login-validation-color" style="opacity: 1; margin-top: 0px;">{{login.loginForm.serviceErrorMessage}}</div>
            </div>
        </div>
        <div>
          <md-button class="md-raised login-sample-button login-format" data-ng-click="login.onLogin()">Sign In</md-button>
          <span data-ng-click="login.onClickForForgetPassword()" id="Span1" class="login-forgetpassword">Forgot your password?</span>
        </div>
      </form>
    </div>
  </div>
</div>

