<div class="filter-box" ng-show="documentsService.searchFilter">
  <md-chips>
    <md-chip ng-click="documentsService.searchFilter=''">
        <span>
            <strong>{{documentsService.searchFilter}}</strong>
        </span>
    </md-chip>
  </md-chips>
</div>
<div ng-show="!((main.filteredDocs || main.docs) || search.coreDocs).length" class="no-docs">
  {{'error.5012' | i18n}}<span ng-show="documentsService.searchFilter">. {{'common.filter' | i18n}}: "{{documentsService.searchFilter}}"</span>
</div>
<flying-button template="addDialog" scope="main" params="fbParams" ng-if="fbParams.creatableClasses.length"></flying-button>
<div ng-cloak="" ng-include="cardMode ? 'app/main/main.cards.tpl.html' : 'app/main/main.list.tpl.html'" ng-class="cardMode ? '' : 'list-box'"></div>
<!--<ng-dropzone class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods"></ng-dropzone>-->

