.image-container img {
  background: #fff;
  display: block;
  width: auto;
  height: auto;
  margin: 20px auto;
}

.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '4 .column.column-1-4';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-4 {
  width: 25%;
}

md-card md-card-title md-card-title-text:only-child .md-subhead.secondary-subhead {
  padding: 0;
}

.card-details {
  color: #fff;
}

.card-details.first-level {
  background: #960061;
}

.card-details.second-level {
  background: #310055;
}

.card-details.third-level {
  background: #82b700;
}

.card-details-button.download-button {
 font-size: 1.6em;
}

.card-details-button.edit-button {
  font-size: 1.4em;
}

.card-details, .main-card {
  transform-style: preserve-3d;
  /*backface-visibility: hidden;*/
}

.card-details.ng-hide-remove,
.card-details.ng-hide-remove * {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}

.main-card.ng-hide-remove,
.main-card.ng-hide-remove * {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
  /*0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

  }

  100% {
    transform: perspective(400px);
  }*/

  /*0%{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100%{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }*/
}

