<div class="confirm" style="" layout="row">
  <div class="" layout="column" flex-gt-xs="33"></div>
  <div class="confirm-form" layout="column" flex="66">
    <form class="registration-form" name="registration.confirmForm" id="confirmForm" ng-keyup="$event.keyCode == 13 && submitToServer()" novalidate>
      <div class="confirmation-label">Registration confirmation</div>
      <div>
        <md-input-container>
          <label class="login-validation-color">Confirmation Code</label>
          <input type="text" class="login-validation-border-color" data-ng-model="registration.confirmCode" name="confirmCode" required  />
          <div ng-messages="registration.confirmForm.confirmCode.$error">
            <span class="login-validation-color" ng-message="required">{{'error.5016'|i18n}}</span>
          </div>
        </md-input-container>
      </div>
      <div>
        <span></span>
        <md-button class="md-raised login-sample-button" data-ng-click="submitToServer()">Confirm</md-button>
      </div>
    </form>
  </div>
</div>

