<ons-list ng-if="((collection.filteredDocs || collection.docs) || (search.filteredDocs || search.collections)).length > 0" class="list-offsets">
  <ons-list-item grid ng-repeat="card in ((collection.filteredDocs || collection.docs) || (search.filteredDocs || search.collections))" class="">
    <div class="a-card list-item">
      <a ui-sref="{{ak ? 'accesskeyDocumentFromCollection' : 'home.collection.customer'}}({accessKey: ak, collectionId: card.group.value, collectionLocale: card.group.locale, customerId: card.id, locale: card.title.locale, currentCollection: card.title})">
        <div>
          <div ng-if="!ak" class="card-count-list {{{'CUSTOMER':'count-customer', 'VENDOR':'count-customer', 'Lead':'count-customer',
          'Workflow': 'count-workflow', 'Type': 'count-other', 'Inbox': 'count-another', 'Monat': 'count-other',
          'Project': 'count-project', '':'count-another'}[card.group.value] || 'count-another'}}">
            {{card.count}}
          </div>
          <span class="card-title">{{card.title.locale}}</span>
            <md-button ng-if="!ak && !{'Type': true, 'WORKFLOW': true, 'Monat': true, 'NEW': true, '' : false}[parentClass]" class="md-icon-button operation" ng-click="editPartner($event, card.id, card.group.value)">
              <i class="material-icons">edit</i>
            </md-button>
        </div>
      </a>
    </div>
  </ons-list-item>
</ons-list>
