<md-content class="md-padding">
  <div docgrid class="deckgrid">
    <div grid ng-repeat="card in ((collection.filteredDocs || collection.docs) || (search.filteredDocs || search.collections))" class="a-card column">
      <a ui-sref="{{ak ? 'accesskeyDocumentFromCollection' : 'home.collection.customer'}}({accessKey: ak, collectionId: card.group.value, collectionLocale: card.group.locale, customerId: card.id, locale: card.title.locale, currentCollection: card.title})">
        <md-card>
          <md-button ng-if="!ak && !{'Type': true, 'WORKFLOW': true, 'Monat': true, 'NEW': true, '' : false}[parentClass]" class="md-icon-button operation" ng-click="editPartner($event, card.id, card.group.value)">
            <i class="material-icons">edit</i>
          </md-button>
          <md-card-title class="card-title-mod collection-text">
            <!--<div class="operation"></div>-->
            <div ng-if="!ak" class="card-count {{{'CUSTOMER':'count-customer', 'VENDOR':'count-customer', 'Lead':'count-customer',
              'Workflow': 'count-workflow', 'Type': 'count-other', 'Inbox': 'count-another', 'Monat': 'count-other',
              'Project': 'count-project', '':'count-another'}[card.group.value] || 'count-another'}}" >
              {{card.count}}
            </div>
            <md-card-title-text >
              <span class="md-headline">{{card.title.locale}}</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </a>
    </div>
  </div>
</md-content>
