<md-toolbar layout="row" layout-align="center center" class="footer-bar footer" ng-if="!fm.hideFooter">
  <div layout="row" flex class="fill-height">
    <!--<h1 class="md-toolbar-item md-headline">-->
      <!--<span class="">
        <span ng-if="fm.state === 'collection'" ng-click="fm.navigateUp()">{{fm.params.category}}</span>
        <span ng-if="fm.state !== 'home'" ng-click="fm.navigateUp()">{{fm.params.locale}}</span>
      </span>-->
      <span class="footer-fix">
        <!--<span hide-sm hide-md ng-click="fm.navigateHome()">{{fm.appConfig.appName}}</span>
        <span class="docs-menu-separator-icon" hide-sm hide-md ng-if="fm.state !== 'home'">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>-->

        <span ng-if="fm.state === 'collection' && (fm.params.collectionLocale  || fm.storageCache.core[fm.params.collectionId])" ng-click="fm.navigateUp()">{{fm.params.collectionLocale  || fm.storageCache.core[fm.params.collectionId].locale}}</span>
        <span ng-if="fm.state === 'customer' && (fm.previousStateParams.collectionLocale  || fm.storageCache.core[fm.params.collectionId])" ng-click="fm.navigateUp()">{{fm.previousStateParams.collectionLocale || fm.storageCache.core[fm.params.collectionId].locale}}</span>
        <span ng-if="fm.state === 'customer' && (fm.params.collectionLocale || fm.storageCache.collections[fm.params.customerId])">
          <i class="material-icons breadcrumb-footer" >keyboard_arrow_right</i>
        </span>

        <span ng-if="fm.state === 'customer' && (fm.params.locale  || fm.storageCache.collections[fm.params.customerId])" ng-click="fm.navigateUp()">{{fm.params.locale || fm.storageCache.collections[fm.params.customerId].locale}}</span>

      </span>
    <!--</h1>-->
  </div>

</md-toolbar>
