@media screen and (max-width: 859px) {
  .footer {
    /*height: 22px;*/
    i,span:hover {
      cursor: pointer;
    }
  }

  .footer-bar {
    bottom: 0px;
    position:fixed;
    /*min-height: 22px;*/
  }
}

@media screen and (min-width: 860px) {
  .footer {
    display: none;
  }

  .footer-bar {
    display: none;
  }
}
