.breadcrumb-footer {
  font-size: 12px;
}

@media screen and (max-width: 859px) {
  .footer {
    /*height: 22px;*/
    i,span:hover {
      cursor: pointer;
    }
  }

  /*footer {
    height:10px;
  }*/

  .docs-menu-separator-icon {
    position: relative;
    top: 5px;
  }

  /*.bc-pos {
    top: 7px;
  }*/

  .footer-bar {
    display: block;/**/
    top: $header-offset;
    position:fixed;
    /*font-size: 0.7em;*/
    font-size: 16px;
    min-height: 24px;
  }

  .breadcrumbs {
    display: none;
  }

  .footer-fix {
    padding-left: 10px;
  }
}

@media screen and (min-width: 860px) {
  .footer {
    display: none;
  }

  .footer-bar {
    display: none;
  }

  .breadcrumbs {
    display: block;
  }

  /*.nav-back {
      display: none;
  }*/
}

.footer-nav {
  font-size: 0.6em;
}
