<md-fab-speed-dial
                   class="md-scale md-fab-bottom-right" style="position: fixed;"
                    ng-click="flyB.openDialog($event, 'test1')">
<!--md-fab-top-right-->
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab">
      <i class="material-icons fly-b-icon">add</i>
      <!--<md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>-->
      <!--<md-icon md-svg-src="img/icons/menu.svg" aria-label="menu"></md-icon>-->
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>
