.fly-b-icon {
  /*font-weight: bolder;*/
  font-size: 24px;
  text-align: center;
  line-height: 56px;
  width: 100%;
}

.md-button.md-fab {
  background-color: $header-color !important;
  &:hover {
    background-color: #4b0082 !important;
  }
  .md-is-open {
    background-color: #4b0082 !important;
  }
  .md-focused {
    background-color: #4b0082 !important;
  }
}

md-input-container {
  margin-bottom: 0;
}

.show-error {
  opacity: 1;
  margin-top: 0px;
}
