<div class="content-container register-container" style="margin-top:0vh;height:100vh;overflow-y: scroll" layout="row" layout-sm="column">
<div class="content-container register-container" style="margin-top:0vh;height:100vh;overflow-y: scroll" layout="row" layout-sm="column">
  <div flex class="content-left-border">
    <div class="login-left-content-settings">
      <span id="isAlreadyregistered" style="display: block; font-size: 12px;">{{'user.alreadyMember' | i18n}}</span>
      <md-button class="md-raised login-sample-button" ui-sref="login">{{'user.signin' | i18n}}</md-button>
    </div>
  </div>
  <div flex class="content-right">
    <div id="signin">{{'user.registrationIsFree' | i18n}}*</div>
    <form class="registration-form" name="registration.registrationForm" id="registrationForm" ng-keyup="$event.keyCode == 13 && submitToServer()" novalidate>
      <div>
        <md-input-container>
          <label style="color:white !important">{{'user.firstName' | i18n}}</label>
          <input style="color:white !important;border-color: rgb(250, 245, 245) !important;" type="text" ng-model="registration.person.firstName"  />
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label style="color:white !important">{{'user.lastName' | i18n}}</label>
          <input style="color:white !important;border-color: rgb(250, 245, 245) !important;" type="text" ng-model="registration.person.lastName"  required/>
          <div ng-messages="registration.registrationForm.companyName.$error">
            <span class="login-validation-color" ng-message="required">{{'error.5016'|i18n}}</span>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label class="login-validation-color">{{'user.companyName' | i18n}}</label>
          <input type="text" class="login-validation-border-color" data-ng-model="registration.person.companyName" name="companyName" required  />
          <div ng-messages="registration.registrationForm.companyName.$error">
            <span class="login-validation-color" ng-message="required">{{'error.5016'|i18n}}</span>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label class="login-validation-color">{{'user.email' | i18n}}</label>
          <input type="email" class="login-validation-border-color" data-ng-model="registration.person.eMailName" name="eMailName" required />
          <div ng-messages="registration.registrationForm.eMailName.$error">
            <span class="login-validation-color" ng-message="required">{{'error.5021'|i18n}}</span>
            <div class="login-validation-color" ng-message="email">{{'error.5022'|i18n}}</div>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label class="login-validation-color">{{'user.password' | i18n}}</label>
          <input type="password" class="login-validation-border-color" data-ng-model="registration.person.passWord" minlength="6" name="passWord" required />
          <div ng-messages="registration.registrationForm.passWord.$error">
            <span class="login-validation-color" ng-message="required">{{'error.5023'|i18n}}</span>
            <div class="login-validation-color" ng-message="minlength">{{'error.5025'|i18n}}</div>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <label class="login-validation-color">{{'user.confirmPassword' | i18n}}</label>
          <input type="password" class="login-validation-border-color" data-ng-model="registration.person.confirmPassWord" minlength="3" compare-to="registration.person.passWord" name="confirmPassWord" required />
          <div ng-messages="registration.registrationForm.confirmPassWord.$error">
            <span class="login-validation-color" ng-message="required">{{'error.5023'|i18n}}</span>
            <div class="login-validation-color" ng-message="minlength">{{'error.5025'|i18n}}</div>
            <div class="login-validation-color" ng-message="compareTo">{{'error.5024'|i18n}}</div>
          </div>
        </md-input-container>
      </div>
      <div>
                <span>
                    <md-checkbox data-ng-model="registration.person.iagreewith" class="md-warn">
                      <span>{{'user.iagreewTnC' | i18n}}</span>
                    </md-checkbox>
                </span>
        <md-button class="md-raised login-sample-button" data-ng-click="submitToServer()">{{'user.register' | i18n}}</md-button>
      </div>
    </form>
  </div>
</div>
