<div layout-fill ng-cloak="" infinite-scroll="more()" infinite-scroll-disabled='documentService.busy' infinite-scroll-distance='1'>
  <md-content class="md-padding">
      <div style="" class="filter-text">
          <span class="group-text">{{collectionFilterGroup}}</span>
          <span ng-show="collectionFilterTitle">//</span>
          <span class="title-text">{{collectionFilterTitle}}</span>
      </div>
    <div flex deckgrid class="docgrid" source="docs">
      <div class="a-card" >
        <md-card class="main-card" ng-click="mother.showDetails(card)" ng-show="!card.details">
          <div class="card-upper-bar"></div>
          <md-card-title>
            <md-card-title-media>
                <img style="background-color: #FAFAFA;" ng-src="{{mother.baseUrl}}file{{card.thumb}}" class="image-container" alt="{{card.title | truncate:true:16:'...'}}">
            </md-card-title-media>
            <md-card-title-text class="mod-card-title">
              <span class="md-headline mod-card-text">{{card.title|truncate:true:28:'...'}}</span>
              <br/>
              <span class="md-subhead">{{card.type.locale|truncate:true:28:'...'}}</span>
              <span class="md-subhead">{{card.workstatus|truncate:true:28:'...'}}</span>
              <span class="md-subhead">{{card.date}}</span>
              <span class="md-subhead secondary-subhead">{{(card.user.firstname + ' ' + card.user.lastname)|truncate:false:28:'...'}}</span>
            </md-card-title-text>
          </md-card-title>

        </md-card>
        <md-card style="height:322px;" class="card-details {{{'Lieferanten': 'count-customer', 'Kunden': 'count-customer', 'CUSTOMER': 'count-customer', 'VENDOR':'count-customer', 'Lead':'count-customer',
            'Workflow': 'count-workflow', 'Type': 'count-other', 'Inbox': 'count-other', 'Monat': 'count-other', 'Belegart': 'count-other', 'Datum': 'count-other',
            'Project': 'count-project', '':'count-other'}[mother.category]}}" ng-show="card.details" ng-click="mother.showDetails(card)">
                 <!--ng-class="{'CUSTOMER':'first-level','VENDOR':'first-level', 'Lead':'first-level', 'Monat': 'second-level', 'Datum': 'second-level', 'Lieferanten' : 'second-level', 'customer': 'second-level', 'Belegart': 'second-level', 'Workflow': 'second-level', 'Type': 'second-level', 'Inbox': 'second-level', 'Project': 'third-level', '':'first-level'}[mother.category]"-->
          <md-card-actions layout="row" layout-align="end center">
            <button class="md-button md-icon-button card-details-button download-button" type="button" aria-label="Download" ng-click="$event.stopPropagation()">
              <i class="mdi mdi-download"></i>
            </button>
            <button class="md-button md-icon-button card-details-button edit-button" type="button" aria-label="Edit" ng-click="mother.editDocument($event, card.id);">
              <i class="mdi mdi-pencil"></i>
            </button>
          </md-card-actions>
        <md-card-title>
          <md-card-title-text class="mod-card-title">
            <span class="md-headline md-headline-selected mod-card-text" title="{{card.title}}">{{card.title|truncate:true:20:'...'}}</span>
            <div class="md-subhead-selected" no-scope-repeat items="card.collections" value="title.locale" defaultvalue="title.value"></div>
          </md-card-title-text>
        </md-card-title>
      </div>
    </div>
  </md-content>
  <div ng-show="!docs.length" class="no-docs">No documents found</div>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Filter</h1>
  </md-toolbar>
  <md-content layout-padding style="padding-top:72px;">
    <form>
      <ons-list ng-model="groupKey">
        <div ng-repeat="(k,v) in filters">

        <ons-list-item ng-click="toggleGroup(k)" class="title" ng-class="{active:isGroupShown(k)}">
          <ons-icon icon="minus-square-o" ng-if="isGroupShown(k)"></ons-icon>
          <ons-icon icon="plus-square-o" ng-if="!isGroupShown(k)"></ons-icon>
          &nbsp;{{ v.group.locale }}
        </ons-list-item>

        <ons-list-item class="item-accordion" ng-repeat="t in filters[k].title" ng-show="isGroupShown(k)">
          <label class="checkbox">
            <input ng-model="filterData.titleIds[t.id]" type="checkbox" name="titleId">
            <div class="checkbox__checkmark"></div>
            <span class="ons-checkbox-inner">&nbsp;{{ t.locale || t.value }}</span>
          </label>

          <!--<label class="radio-button radio-button&#45;&#45;list-item">
            <input ng-model="formData.selectedTitleId" type="radio" name="titleId" ng-value="t.id">
            <div class="radio-button__checkmark radio-button&#45;&#45;list-item__checkmark"></div>
            {{ t.locale || t.value }}
          </label>-->

        </ons-list-item>
        </div>
      </ons-list>

    </form>
    <md-button ng-click="applyFilter()" class="md-primary">
      Apply
    </md-button>
    <md-button ng-click="closeFilter()" class="md-primary">
      Close
    </md-button>
  </md-content>
</md-sidenav>
<!--<div ></div>-->
<!-- ng-class="{'CUSTOMER':'first-level', 'VENDOR':'first-level', 'Lead':'first-level',
'Monat': 'second-level', 'Workflow': 'second-level', 'Type': 'second-level', 'Inbox': 'second-level',
'Project': 'third-level', '':'first-level'}[mother.category]" -->
