.image-container img {
  background-color: #FAFAFA;
  display: block;
  width: 165px;
  height: 210px;
  margin: 20px auto;
}

/*md-card-title {
  margin-top: 30px;
}*/

.card-upper-bar {
  height:40px;
  padding:8px;
}

md-card-title-media {
  width: 165px;
  height: 234px;
  margin: 0 auto;
  display: block;
  background-color: #FFFFFF;
}

.mod-card-title {
  padding-left:20px;
  padding-top:0px;
}

.mod-card-text {
  margin-top: 0px !important;
  font-size: 16px !important;
}

.md-headline-selected {
  color: #FFFFFF !important;
}

.md-subhead-selected {
  color: #AAAAAA !important;
}

.md-secondary-subhead-selected {
  color: #CCCCCC !important;
}



.doc-card  {
  /*width: 420px;*/
  padding: 10px;
}

.document-card-container {
  display:flex;
  -ms-flex-direction:column;
  -webkit-flex-direction:column;
  flex-direction:column;
  height:100%;
  width:100%;
  justify-content:space-between;
  font-size:1.3em
}

.card-container-cell{
  display:block
}

.docgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '10 .column.column-1-10';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}
.docgrid {
  padding-top: 60px;
  margin: 0 auto;
  width: 100%;
}

.docgrid .column {
  float: left;
  width: 530px;
}

.docgrid .column-1-4 {
  width: 530px;
}

.docgrid .column.size-1-5,
.docgrid .column.size-1-6,
.docgrid .column.size-1-7,
.docgrid .column.size-1-8,
.docgrid .column.size-1-9,
.docgrid .column.size-1-10 {
  width: 530px;
}

.docgrid .column.size-1-4 {
  width: 530px;
}

.docgrid .column.size-1-3 {
  width: 530px;
}

.docgrid .column.size-1-2 {
  width: 530px;
}

.docgrid .column.size-1-1 {
  width: 530px;
}

@media screen and (min-width: 2310px)  and (max-width: 5120px) {
  .docgrid {
    margin-top: 150px;
    width: 2120px;
  }

  .docgrid[deckgrid]::before {
    content: '4 .column.size-1-4';
  }
}

@media screen and (min-width: 2150px) and (max-width: 2360px) {
  .docgrid {
    margin-top: 150px;
    width: 2120px;
  }

  .docgrid[deckgrid]::before {
    content: '4 .column.size-1-4';
  }
}

@media screen and (min-width: 1890px) and (max-width: 2150px) {
  .docgrid {
    margin-top: 100px;
    width: 1590px;
  }

  .docgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
}

@media screen and (min-width: 1720px) and (max-width: 1940px) {
  .docgrid {
    margin-top: 100px;
    width: 1060px;
  }

  .docgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}

@media screen and (min-width: 1520px) and (max-width: 1720px) {
  .docgrid {
    margin-top: 100px;
    width: 1060px;
  }

  .docgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}

@media screen and (min-width: 1310px) and (max-width: 1520px) {
  .docgrid {
    margin-top: 100px;
    width: 1060px;
  }

  .docgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}

@media screen and (min-width: 1100px) and (max-width: 1310px) {
  .docgrid {
    margin-top: 70px;
    width: 1060px;
  }

  .docgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}

@media screen and (min-width: 890px) and (max-width: 1100px) {
  .docgrid {
    margin-top: 50px;
    width:530px;
  }

  .docgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}

@media screen and (min-width: 680px) and (max-width: 890px) {
  .docgrid {
    margin-top: 30px;
    width:530px;
  }

  .docgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}

@media screen and (min-width: 460px) and (max-width: 680px) {
  .docgrid {
    margin-top: 30px;
    width:530px;
  }

  .docgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}

@media screen and (min-width: 260px) and (max-width: 460px) {
  .docgrid {
    /*margin-top: 30px;*/
    width:530px;
  }

  .docgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}

/*list*/

.listgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  padding-top: 40px;
  content: '4 .column.column-1-4';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.listgrid .column {
  float: left;
}

.listgrid .column-1-4 {
  width: 100%;
}

.no-docs {
  text-align: center;
  color: #999999;
}

