.image-container img {
  background-color: #FAFAFA;
  display: block;
  width: $image-container-w;
  height: $image-container-h;
  margin: 20px auto;
}

/*md-card-title {
  margin-top: 30px;
}*/

.filter-text {
  position: absolute;
  top: 68px;
  right: 10px;
  /*opacity: 0.5;*/
  font-size: 1.3em;
}

.group-text {
  color: #960061;
}

.title-text {
  color: #310055;
}

.card-upper-bar {
  height:40px;
  padding:8px;
}

md-card-title-media {
  width: 165px;
  height: 234px;
  margin: 0 auto;
  display: block;
  background-color: #FFFFFF;
}

.mod-card-title {
  padding-left:20px;
  padding-top:0px;
}

.mod-card-text {
  position: relative !important;
  margin-top: 0px !important;
  font-size: 16px !important;
}

.md-headline-selected {
  color: #FFFFFF !important;
}

.md-subhead-selected {
  color: #AAAAAA !important;
}

.md-secondary-subhead-selected {
  color: #CCCCCC !important;
}



.doc-card  {
  /*width: 420px;*/
  padding: 10px;
}

.document-card-container {
  display:flex;
  -ms-flex-direction:column;
  -webkit-flex-direction:column;
  flex-direction:column;
  height:100%;
  width:100%;
  justify-content:space-between;
  font-size:1.3em
}

.card-container-cell{
  display:block
}

.docgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '10 .column.column-1-10';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}
.docgrid {
  padding-top: 60px;
  margin: 0 auto;
  width: 100%;
}

.docgrid .column {
  float: left;
  width: $document-card-width;
}

.docgrid .column-1-4 {
  width: $document-card-width;
}

.docgrid .column.size-1-5,
.docgrid .column.size-1-6,
.docgrid .column.size-1-7,
.docgrid .column.size-1-8,
.docgrid .column.size-1-9,
.docgrid .column.size-1-10 {
  width: $document-card-width;
}

.docgrid .column.size-1-4 {
  width: $document-card-width;
}

.docgrid .column.size-1-3 {
  width: $document-card-width;
}

.docgrid .column.size-1-2 {
  width: $document-card-width;
}

.docgrid .column.size-1-1 {
  width: $document-card-width;
}

@media screen and (min-width: 2310px)  and (max-width: 5120px) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*7;
  }

  .docgrid[deckgrid]::before {
    content: '7 .column.size-1-7';
  }
}

@media screen and (min-width: (($document-card-width*7)+50)) and (max-width: (($document-card-width*8)+50)) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*7;
  }

  .docgrid[deckgrid]::before {
    content: '7 .column.size-1-7';
  }
}

@media screen and (min-width: (($document-card-width*6)+50)) and (max-width: (($document-card-width*7)+50)) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*6;
  }

  .docgrid[deckgrid]::before {
    content: '6 .column.size-1-6';
  }
}

@media screen and (min-width: (($document-card-width*5)+50)) and (max-width: (($document-card-width*6)+50)) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*5;
  }

  .docgrid[deckgrid]::before {
    content: '5 .column.size-1-5';
  }
}

@media screen and (min-width: (($document-card-width*4)+50)) and (max-width: (($document-card-width*5)+50)) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*4;
  }

  .docgrid[deckgrid]::before {
    content: '4 .column.size-1-4';
  }
}

@media screen and (min-width: (($document-card-width*3)+50)) and (max-width: (($document-card-width*4)+50)) {
  .docgrid {
    margin-top: 70px;
    width: $document-card-width*3;
  }

  .docgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
}

@media screen and (min-width: (($document-card-width*2)+20)) and (max-width: (($document-card-width*3)+50)) {
  .docgrid {
    margin-top: 30px;
    width: $document-card-width*2;
  }

  .docgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}

@media screen and (min-width: (($document-card-width2*2)+50)) and (max-width: (($document-card-width*2)+20)) {
  .docgrid {
    margin-top: 30px;
    width: $document-card-width;
  }

  .docgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}

@media screen and (min-width: (($document-card-width*1)+20)) and (max-width: (($document-card-width2*2)+50)) {
  .docgrid {
    width: $document-card-width;
  }

  .docgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }

  .filter-text {
    top: 52px;
    right: 5px;
    font-size: 0.8em;
  }

}

@media screen and (min-width: 0px) and (max-width: (($document-card-width*1)+20)) {

  .image-container {
    width: $image-container-w/2;
    height: $image-container-h/2;
  }

  md-card-title-media {
    /*display: none;*/
    width: $image-container-w/2;
  }

  .docgrid .column.size-1-1 {
    width: $document-card-width2;
  }

  .docgrid {
    width: $document-card-width2;
  }

  .docgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }

  .filter-text {
    top: 56px;
    right: 5px;
    font-size: 0.8em;
  }
}

/*list*/

.listgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  padding-top: 40px;
  content: '4 .column.column-1-4';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.listgrid .column {
  float: left;
}

.listgrid .column-1-4 {
  width: 100%;
}

.no-docs {
  text-align: center;
  color: #999999;
}

.list__item {
  min-height: 0px;
}

.item-accordion {
  line-height: 37px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.07s all linear;
}

.item-accordion.ng-hide {
  line-height: 0px;
}

.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
}

.title {
  background: #F5F5F5;
}

.active {
  background: #EFEFEF;
}
