.image-container img {
  background-color: #FAFAFA;
  display: block;
  width: $image-container-w;
  height: $image-container-h;
  margin: 20px auto;
}

.footer-bar {
  display: block;
}

/*md-card-title {
  margin-top: 30px;
}*/

.card-upper-bar {
  height:40px;
  padding:8px;
}

md-card-title-media {
  width: 165px;
  height: 234px;
  margin: 0 auto;
  display: block;
  background-color: #FFFFFF;
}

.main-card.view-list {
  md-card-title-media {
    display: none;
  }
}

.mod-card-title {
  padding-left:20px;
  padding-top:0px;
}

.mod-card-text {
  position: relative !important;
  margin-top: 0px !important;
  font-size: 16px !important;
}

.list-item-title {
  /*bottom: 15px;
  position: absolute;*/
  word-break: break-all;
  font-size: 18px;
  line-height: 24px;
  color: #310055;
  font-weight: bold;
}

.list-item-text {
  color: rgba(0,0,0,0.54);
  padding-top: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 24px;
}

.list-item-text-r1 {
  position:absolute; right: 0; top: 2px;
}

.list-item-text-r2 {
  position:absolute; right: 0; bottom: 2px;
}

.filter-asterisk {
  position: absolute;
  top: 8px;
  font-size: 12px;
}

.back-list-item-text {
  line-height: 18px;
  padding-left: 5px;
}

.md-headline-selected {
  color: #FFFFFF !important;
}

.md-subhead-selected {
  color: #AAAAAA !important;
}

.md-secondary-subhead-selected {
  color: #CCCCCC !important;
}



.doc-card  {
  /*width: 420px;*/
  padding: 10px;
}

.document-card-container {
  display:flex;
  -ms-flex-direction:column;
  -webkit-flex-direction:column;
  flex-direction:column;
  height:100%;
  width:100%;
  justify-content:space-between;
  font-size:1.3em
}

.card-container-cell{
  display:block
}

.docgrid[docgrid]::before {
  font-size: 0;
  visibility: hidden;
}
.docgrid {
  padding-top: 60px;
  margin: 0 auto;
  width: 100%;
}

.docgrid .column {
  float: left;
  width: $document-card-width;
}

.doc-list-row {
  padding: 5px;
}

.col-separator {
  font-weight: bold;
  padding-left: 2px;
  color: rgba(0,0,0,1);
}

@media screen and (max-width: 767px) {
  .collection-list {
    display: none;
  }
  .list-item-text-r3 {
    display: none;
  }

}

@media screen and (min-width: 768px) {
  .doc-list-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    div {
      padding-left: 5px;
      display: table-cell;
    }

    .list-column-1 {
      /*text-align: center;*/
      width: 240px;
    }
    .list-column-2 {
      text-align: left;
    }
    .list-column-3 {
      text-align: center;
    }
    .list-column-4 {
      text-align: right;
    }
    .list-column-5 {
      text-align: right;
    }
    .list-column-6 {
      text-align: right;
    }

    .list-item-text-r1 {
      position: inherit;
      top: auto;
    }
    .list-item-text-r2 {
      position: inherit;
      bottom: auto;
    }

    .list-item-text-r3 {
      display: block;
    }
  }
}

@media screen and (min-width: 2310px)  and (max-width: 5120px) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*7;
  }
}

@media screen and (min-width: (($document-card-width*7)+50)) and (max-width: (($document-card-width*8)+50)) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*7;
  }
}

@media screen and (min-width: (($document-card-width*6)+50)) and (max-width: (($document-card-width*7)+50)) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*6;
  }
}

@media screen and (min-width: (($document-card-width*5)+50)) and (max-width: (($document-card-width*6)+50)) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*5;
  }
}

@media screen and (min-width: (($document-card-width*4)+50)) and (max-width: (($document-card-width*5)+50)) {
  .docgrid {
    margin-top: 100px;
    width: $document-card-width*4;
  }
}

@media screen and (min-width: (($document-card-width*3)+50)) and (max-width: (($document-card-width*4)+50)) {
  .docgrid {
    margin-top: 70px;
    width: $document-card-width*3;
  }
}

@media screen and (min-width: (($document-card-width*2)+20)) and (max-width: (($document-card-width*3)+50)) {
  .docgrid {
    margin-top: 30px;
    width: $document-card-width*2;
  }
}

@media screen and (min-width: (($document-card-width2*2)+50)) and (max-width: (($document-card-width*2)+20)) {
  .docgrid {
    margin-top: 30px;
    width: $document-card-width;
  }
}

@media screen and (min-width: (($document-card-width*1)+20)) and (max-width: (($document-card-width2*2)+50)) {
  .docgrid {
    width: $document-card-width;
  }
}

@media screen and (min-width: 0px) and (max-width: (($document-card-width*1)+20)) {

  .image-container {
    width: $image-container-w/2;
    height: $image-container-h/2;
  }

  md-card-title-media {
    /*display: none;*/
    width: $image-container-w/2;
  }

  .docgrid {
    width: $document-card-width2;
  }

  .docgrid .column {
    width: $document-card-width2;
  }
}


.no-docs {
  text-align: center;
  color: #999999;
}

.list__item {
  min-height: 0px;
}

.item-accordion {
  line-height: 37px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.07s all linear;
}

.list__item:focus {
  outline: none;
}

.item-accordion.ng-hide {
  line-height: 0px;
}

.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
}

.title {
  background: #F5F5F5;
}

.active {
  background: #EFEFEF;
}

/*workflow breadcrumb*/
.breadcrumb {
  /*margin: 0; padding: 0;*/
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}

.breadcrumb a:first-child {
  padding-left: 35px;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:first-child:before {
  left: 5px;
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 10px;
}

.breadcrumb a.active, .breadcrumb a:hover{
  background: #333;
  background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow:
    2px -2px 0 2px rgba(0, 0, 0, 0.4),
    3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
}

.flat a, .flat a:after {
  background: white;
  color: black;
  transition: all 0.5s;
}
.flat a:before {
  background: white;
  box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
  background: #9EEB62;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .breadcrumb {

  }
}
