<md-dialog ng-click="$event.stopPropagation();sideMenu=false;" class="edit-doc" style="background-color: #f5f5f5;min-width:1000px;width:1000px;height:100%;min-height:100%;overflow:hidden;" aria-label="documentEdit" ng-cloak>
    <md-toolbar style="position:relative;">
      <div class="md-toolbar-tools">
        <h2>{{editForm.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button hide-gt-xs" aria-label="editDocSideMenu" ng-click="$event.stopPropagation();toggleSideMenu();">
          <i class="mdi mdi-dots-vertical" style="top: 14px;right: 70px;font-size: 1.9em;"></i>
        </md-button>
        <!--hide-gt-xs<div style="cursor: pointer;" class="" hide-gt-xs ng-click="$event.stopPropagation();toggleSideMenu();">
          <i class="mdi mdi-dots-vertical nav-options"></i>
          <div style="height: 3px;"></div>
        </div>-->
        <md-button class="md-icon-button" ng-click="cancel($event)">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <!--working draft-->
    <div ng-if="showSaveConfirmation" class="save-confirmation">
      <span class="save-confirmation-text" style="">{{'customer.saveChanges' | i18n}}</span>
      <md-button class="md-icon-button" ng-click="save(editForm);hideDialog($event);">
        <i class="material-icons" style="color: #00AA00">done</i>
      </md-button>
      <md-button class="md-icon-button" ng-click="hideDialog($event)">
        <i class="material-icons" style="color: #aa0000">cancel</i>
      </md-button>
      <!--save(editForm)-->
    </div>
    <div layout="row" in-view-container class="edit-dialog-container" style="overflow-y: scroll;height: calc(100vh - 64px);">
        <div class="" flex>
          <form id="saveForm" name="saveForm">
            <div id="main_details">
              <!--md-raised-->
              <md-button ng-model="docDetailsSections.mainBlock" aria-label="documentOverviewBtn" class="category-button md-button-toggle md-raised" ng-click="goTo($event, $event, 'main_details');">
                {{'customer.overview' | i18n}}
                <!--<md-icon aria-label="main"
                         class="material-icons step md-toggle-icon" ng-class="docDetailsSections.mainBlock ? 'icon-expanded' : 'icon-collapsed'">
                  keyboard_arrow_down
                </md-icon>-->
              </md-button>
              <div ng-accordion-body ng-class="docDetailsSections.mainBlock ? 'block-expanded' : 'block-collapsed'">
                <div ng-cloak>
                  <md-content class="md-padding" style="padding-bottom: 10px">
                    <div layout="row" layout="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'common.title' | i18n}}</label>
                        <input type="text" name="title" data-ng-model="editForm.title" document-data-validate="documentTitle" class="profile-field"/>
                        <div ng-messages="saveForm.title.$error">
                          <div class="" ng-message="documentDataValidate">{{'error.5017'|i18n}}</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-align="left center">
                      <div class="documentIcon">
                        <span style="font-size:13px;font-weight:600;display:block">{{'common.date' | i18n}}</span>
                        <md-datepicker name="date" ng-model="editForm.documentDate" document-data-validate="documentDate" md-placeholder="Enter date" aria-label="documentDate"></md-datepicker>
                        <div ng-messages="saveForm.date.$error">
                          <div class="edit-doc-error" ng-message="documentDataValidate">{{'error.5013'|i18n}}</div>
                        </div>
                      </div>
                    </div>
                    <div layout="row" layout-align="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'common.type' | i18n}}</label>
                        <md-select name="type" ng-model="editForm.type.value">
                          <md-option ng-repeat="type in editForm.types_available" value="{{type.value}}">
                            {{type.locale}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <md-input-container style="margin-top:28px">
                      <label class="profile-lable">{{'customer.workStatus' | i18n}}</label>
                      <input type="text" name="workstatus" data-ng-model="editForm.workstatus" class="profile-field"  readonly="readonly"/>
                    </md-input-container>
                    <div style="margin-top:7px">
                      <label style="display:block;color: rgba(0,0,0,0.54);font-size: 12px;padding-bottom: 8px;" class="profile-lable">{{'customer.description' | i18n}}</label>
                      <textarea data-ng-model="editForm.text" columns="1" name="text" style="height:15.4vh !important;width:300px">{{editForm.text}}</textarea>
                    </div>
                  </md-content>
                </div>
              </div>
            </div>
            <div id="doc_stats">
              <md-button class="md-raised category-button" aria-label="documentEuroBtn" ng-click="goTo($event, 'doc_stats');">
                {{'customer.euro' | i18n}}
                <!--<md-icon aria-label="details"
                         class="material-icons step" ng-class="docDetailsSections.dataBlock ? 'icon-expanded' : 'icon-collapsed'">
                  keyboard_arrow_down
                </md-icon>-->
              </md-button>
              <div ng-accordion-body ng-class="docDetailsSections.dataBlock ? 'block-expanded' : 'block-collapsed'">
                <div ng-cloak>
                  <md-content class="md-padding" style="padding-bottom: 10px">
                    <div layout="row" layout="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'customer.supplierId' | i18n}}</label>
                        <input type="text"  name="supplierId" data-ng-model="editForm.supplierID" class="profile-field"/>
                      </md-input-container>
                    </div>
                    <div layout="row" layout="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'customer.netAmount' | i18n}}</label>
                        <input type="text"  name="netvaluegoods" ng-model="editForm.netvaluegoods" ng-currency currency-symbol="" document-data-validate="documentAmount" class="profile-field"/>
                        <div ng-messages="saveForm.netvaluegoods.$error">
                          <div class="" ng-message="documentDataValidate">{{'error.5018'|i18n}}</div>
                        </div>
                      </md-input-container>
                    </div>

                    <div layout="row" layout="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'customer.taxAmount' | i18n}}</label>
                        <input type="text"  name="totaltax" ng-model="editForm.totaltax" ng-currency currency-symbol="" document-data-validate="documentAmount" class="profile-field"/>
                        <div ng-messages="saveForm.totaltax.$error">
                          <div class="" ng-message="documentDataValidate">{{'error.5019'|i18n}}</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="row" layout="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'customer.totalAmount' | i18n}}</label>
                        <input type="text"  name="totalamount" ng-model="editForm.totalamount" ng-currency currency-symbol="" document-data-validate="documentAmount" class="profile-field"/>
                        <div ng-messages="saveForm.totalamount.$error">
                          <div class="" ng-message="documentDataValidate">{{'error.5020'|i18n}}</div>
                        </div>
                      </md-input-container>
                    </div>
                  </md-content>
                </div>
              </div>
            </div>
            <div id="doc_collections">
              <md-button class="md-raised category-button" aria-label="documentCollectionsBtn" ng-click="goTo($event, 'doc_collections');">
                {{'customer.collection' | i18n}}
                <!--<md-icon aria-label="details"
                         class="material-icons step" ng-class="docDetailsSections.collectionsBlock ? 'icon-expanded' : 'icon-collapsed'">
                  keyboard_arrow_down
                </md-icon>-->
              </md-button>
              <div ng-class="docDetailsSections.collectionsBlock ? 'block-expanded' : 'block-collapsed'">
                <div ng-cloak>
                    <md-chips name="collections" ng-model="editForm.typeList"
                              md-autocomplete-snap
                              md-require-match="true"
                              md-on-remove="removeChip($chip)"
                              md-transform-chip="transformChip($chip)">
                      <md-autocomplete md-selected-item="selectedItem"
                                       md-search-text="searchText"
                                       md-items="item in querySearch(searchText)"
                                       md-item-text="item.title.locale"
                                       md-delay="200"
                                       md-no-cache="true"
                                       placeholder="{{'customer.addCollection' | i18n}}...">
                        <span md-highlight-text="searchText">{{item.group.locale}} :: {{item.title.locale}}</span>
                      </md-autocomplete>
                      <md-chip-template>
                          <span>
                              <strong>{{$chip.title.locale}}</strong>
                              <em ng-if="$chip.group.locale">({{$chip.group.locale}})</em>
                          </span>
                      </md-chip-template>
                    </md-chips>
                </div>
              </div>
            </div>
            <div id="doc_info">
              <md-button class="md-raised category-button" aria-label="documentInfoBtn" ng-click="goTo($event, 'doc_info');">
                {{'customer.info' | i18n}}
                <!--<md-icon aria-label="details"
                         class="material-icons step" ng-class="docDetailsSections.infoBlock ? 'icon-expanded' : 'icon-collapsed'">
                  keyboard_arrow_down
                </md-icon>-->
              </md-button>
              <div ng-accordion-body ng-class="docDetailsSections.infoBlock ? 'block-expanded' : 'block-collapsed'">
                <div ng-cloak>
                  <md-content class="md-padding" style="padding-bottom: 10px">
                    <div layout="row" layout="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'customer.filename' | i18n}}</label>
                        <input type="text" name="filename" data-ng-model="editForm.filename" class="profile-field" ng-readonly="true"/>
                      </md-input-container>
                    </div>
                    <div layout="row" layout="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'customer.filenamesig' | i18n}}</label>
                        <input type="text" name="filenamesig"  data-ng-model="editForm.filenamesig" class="profile-field" ng-readonly="true"/>
                      </md-input-container>
                    </div>
                    <div layout="row" layout="left center">
                      <md-input-container class="flex">
                        <label class="profile-lable">{{'customer.creator' | i18n}}</label>
                        <input type="text" name="creator" data-ng-model="editForm.creator_name" class="profile-field" ng-readonly="true"/>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-align="left center">
                      <div class="date-container">
                        <span class="line-label">{{'customer.createdOn' | i18n}}&nbsp;</span>
                        <span class="date-text">{{editForm.createdDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                        <!--<md-datepicker class="ro-datepicker"  disabled="disabled" ng-model="editForm.documentDate" md-min-date="editForm.documentDate" md-max-date="editForm.documentDate" md-placeholder="created date" aria-label="x2" readonly="readonly"></md-datepicker>-->
                      </div>
                    </div>
                    <div layout="row" layout-align="left center">
                      <div class="date-container">
                        <span class="line-label">{{'customer.updatedOn' | i18n}}</span>
                        <!--<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Date" min-date="date" ng-model="editForm.changedDate" class="ng-pristine ng-valid ng-isolate-scope md-input ng-touched" aria-invalid="false">-->
                        <!--<md-datepicker class="ro-datepicker" time="true" disabled="disabled" ng-model="editForm.changedDate" md-placeholder="updated date" aria-label="x3" readonly="readonly"></md-datepicker>-->
                        <span class="date-text">{{editForm.changedDate | date: 'dd.MM.yyyy HH:mm'}}</span>
                      </div>
                    </div>
                  </md-content>
                </div>
              </div>
            </div>
            <div id="doc_workflow">
              <md-button class="md-raised category-button" aria-label="documentWorkflowBtn" ng-click="goTo($event, 'doc_workflow');">
                {{'customer.workflow' | i18n}}
                <!--<md-icon aria-label="details"
                         class="material-icons step" ng-class="docDetailsSections.workflowBlock ? 'icon-expanded' : 'icon-collapsed'">
                  keyboard_arrow_down
                </md-icon>-->
              </md-button>
              <div ng-accordion-body ng-class="docDetailsSections.workflowBlock ? 'block-expanded' : 'block-collapsed'">
                <div ng-if="editForm.workflow" ng-cloak>
                  <md-content class="" style="padding-bottom: 10px">
                    <div ng-if="editForm.workflow" layout="row" style="padding: 10px;" layout-align="left center">
                      <div class="breadcrumb flat">
                        <a href="#" ng-class="editForm.workflow.startable ? 'active' : ''">{{'customer.past' | i18n}}</a>
                        <a href="#" ng-class="editForm.workflow.running ? 'active' : ''">{{'customer.current' | i18n}}</a>
                        <a href="#">{{'customer.next' | i18n}}</a>
                      </div>
                    </div>
                    <md-content class="md-padding" style="padding-bottom: 0;" layout="column">
                        <label ng-if="editForm.workflow.startable" class="wf-process">{{'customer.workflowProcess' | i18n}}</label>
                        <div ng-if="editForm.workflow.startable" flex>
                          <div class="wf-container" ng-repeat="wfItem in editForm.workflow.startable" ng-click="null">
                            <div class="wf-container-inner">
                              <div>{{wfItem.process}}</div>
                              <p>{{ wfItem.desc }}</p>
                              <div class="wf-container-sub" ng-if="wfItem.first_step">
                                <label ng-if="editForm.workflow.startable" class="wf-process">{{'customer.workflowStatus' | i18n}}</label>
                                <div>{{ wfItem.first_step.status }}</div>
                                <p>{{ wfItem.first_step.desc }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      <label ng-if="editForm.workflow.running" class="wf-process">{{'customer.workflowProcess' | i18n}}</label>
                      <div ng-if="editForm.workflow.running" flex>
                        <div class="wf-container" ng-click="null">
                          <div class="wf-container-inner">
                            <div>{{editForm.workflow.running.process}}</div>
                            <p>{{ editForm.workflow.running.desc }}</p>
                            <div class="wf-container-sub" ng-if="editForm.workflow.running.first_step">
                              <label ng-if="editForm.workflow.running" class="wf-process">{{'customer.workflowStatus' | i18n}}</label>
                              <div>{{ editForm.workflow.running.first_step.status }}</div>
                              <p>{{ editForm.workflow.running.first_step.desc }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-if="editForm.workflow && editForm.workflowTips && !editForm.workflow.running && !editForm.workflow.startable" flex>
                        <label class="wf-process">{{'customer.workflow' | i18n}}</label>
                        <div class="wf-container" ng-click="null">
                          <div class="wf-container-inner">
                            <div>{{editForm.workflow}}</div>
                            <p>{{ editForm.workflowTips}}</p>
                          </div>
                        </div>
                      </div>
                    </md-content>
                    <!--<md-content class="md-padding" layout="column">
                      {{rowDocument.workflow}}
                    </md-content>-->
                  </md-content>
                </div>
              </div>
            </div>
            <div id="doc_fileview" style="height:350px;">
              <md-button class="md-raised category-button" aria-label="documentViewBtn" ng-click="goTo($event, 'doc_fileview');">
                {{'customer.view' | i18n}}
                <!--<md-icon aria-label="details"
                         class="material-icons step" ng-class="docDetailsSections.workflowBlock ? 'icon-expanded' : 'icon-collapsed'">
                  keyboard_arrow_down
                </md-icon>-->
              </md-button>
              <div style="position: relative;" in-view="onViewFile($inview) && !documentLoaded && viewFile($inview);">
                <md-content style="/*overflow-y:scroll;*/" ng-click="focusControl($event);">
                  <!--<md-progress-linear ng-show="documentLoading" md-mode="indeterminate"></md-progress-linear>-->
                  <div ng-if="documentLoading && fileType!='IMG' && fileType!='TXT'" layout="row" layout-sm="column" layout-align="space-around" style="padding-top: 30px;">
                    <md-progress-circular  md-mode="indeterminate"></md-progress-circular>
                  </div>
                  <div ng-if="documentError" layout="row" layout-sm="column" layout-align="space-around" style="padding-top: 30px;">{{'error.5008'|i18n}}</div>
                  <!--<div ng-if="documentLoading" style="text-align: center;padding: 25px 0 0 0;">Loading...</div>-->
                  <!--<pdf-viewer ng-class="unlockZoom ? 'unlock' : ''" ng-show="fileType=='PDF'"
                              delegate-handle="pdf-container"
                              url=""
                              scale="1.5"
                              show-toolbar="false">
                  </pdf-viewer>-->
                  <div class="pdf-viewer" ng-class="unlockZoom ? 'unlock' : ''" ng-show="fileType=='PDF'">
                    <embed ng-src="{{trustSrc(documentUrl)}}" type="application/pdf">
                  </div>
                  <!--<div class="image-container" ng-show="fileType=='IMG'">
                    <canvas id="image_canvas"></canvas>
                  </div>-->
                  <div class="image-view" ng-show="fileType=='IMG'">
                    <img id="view_img"/>
                  </div>
                  <div class="text-view" ng-show="fileType=='TXT'">
                    <div id="view_txt"><pre style="padding: 20px;">{{textData}}</pre></div>
                  </div>

                  <!-- TODO: directive -->
                  <div ng-if="false" class="pdf-controls" ng-if="fileType=='PDF' && showControls" ng-click="focusControl($event);">
                    <md-button ng-show="!unlockZoom" class="md-icon-button" ng-click="unlockToggle();">
                      <i class="material-icons">lock</i>
                    </md-button>
                    <md-button ng-show="unlockZoom" class="md-icon-button" ng-click="unlockToggle();">
                      <i class="material-icons">lock_open</i>
                    </md-button>
                    <md-button ng-show="unlockZoom" class="md-icon-button" ng-click="zoomIn();">
                      <i class="material-icons">zoom_in</i>
                    </md-button>
                    <md-button ng-show="unlockZoom" class="md-icon-button" ng-click="zoomOut()">
                      <i class="material-icons">zoom_out</i>
                    </md-button>
                    <span flex="100"></span>
                    <md-button ng-show="pdfTotalPages" ng-class="(pdfState.page > 1) ? '' : 'fade'" class="md-icon-button" ng-click="pagePrev()">
                      <i class="material-icons">keyboard_arrow_left</i>
                    </md-button>
                    <md-button ng-show="pdfTotalPages" ng-class="(pdfState.page < pdfTotalPages) ? '' : 'fade'" class="md-icon-button" ng-click="pageNext()">
                      <i class="material-icons">keyboard_arrow_right</i>
                    </md-button>
                    <div class="pdf-pages">
                      <div class="pdf-current-page">
                        <md-input-container placeholder="page">
                          <input id="pdfPageInput"
                                 type="text"
                                 size="3"
                                 ng-maxlength="3"
                                 min="1"
                                 max="{{pdfTotalPages}}"
                                 name="page"
                                 ng-model="pdfState.page"
                                 ng-keyup="pdfGoToPage(pdfState.page)"
                                 aria-label="documentPdfPageInput"
                                 class="profile-field"
                          />
                        </md-input-container>
                      </div><span style="padding:3px;" ng-if="true">/</span>
                      <div class="pdf-all-pages">{{pdfTotalPages || 0}}</div>
                    </div>
                  </div>

                  <div class="file-message" ng-if="fileStatus=='Unsupported'">
                    <div>{{'error.5026' | i18n}}</div>
                  </div>
                  <!--show toolbat for test-->
                </md-content>
              </div>
            </div>
          </form>
        </div>
        <div ng-class="{'hide-xs':!sideMenu, 'mobileMenu': sideMenu}" class="doc-control-container">
          <div ng-class="{'hide-xs':!sideMenu, 'mobile-menu-inner': sideMenu}" class="doc-control-fixed" ng-if="!mdClosing && editForm">
            <div style="height: 16px;"></div>
            <div class="doc-control-header">
              {{'customer.actions' | i18n}}
            </div>
            <div class="doc-control-button" ng-class="saveForm.$valid && formChanged ? '' : 'control-disabled'" ng-click="formChanged && save(editForm);">
              <i class="mdi mdi-content-save" role="button"></i>
              {{'customer.save' | i18n}}
            </div>
            <div class="doc-control-button" ng-click="downloadDoc()">
              <i class="mdi mdi-download" role="button"></i>
              {{'customer.download' | i18n}}
            </div>
            <div class="doc-control-button" ng-if="(editForm && editForm.hassignature < 1)" ng-click="signDocument()">
              <i class="mdi mdi-pen" role="button"></i>
              {{'customer.sign' | i18n}}
            </div>
            <div style="height: 16px;"></div>
            <div class="doc-control-header">
              {{'customer.navigation' | i18n}}
            </div>
            <div class="doc-control-button" ng-click="goTo($event, 'main_details');">
              <i class="mdi mdi-arrow-right" role="button"></i>
              {{'customer.overview' | i18n}}
            </div>
            <div class="doc-control-button" ng-click="goTo($event, 'doc_stats');">
              <i class="mdi mdi-arrow-right" role="button"></i>
              {{'customer.euro' | i18n}}
            </div>
            <div class="doc-control-button" ng-click="goTo($event, 'doc_collections');">
              <i class="mdi mdi-arrow-right" role="button"></i>
              {{'customer.collection' | i18n}}
            </div>
            <div class="doc-control-button" ng-click="goTo($event, 'doc_info');">
              <i class="mdi mdi-arrow-right" role="button"></i>
              {{'customer.info' | i18n}}
            </div>
            <div class="doc-control-button" ng-click="goTo($event, 'doc_workflow');">
              <i class="mdi mdi-arrow-right" role="button"></i>
              {{'customer.workflow' | i18n}}
            </div>
            <div class="doc-control-button" ng-click="goTo($event, 'doc_fileview');">
              <i class="mdi mdi-arrow-right" role="button"></i>
              {{'customer.view' | i18n}}
            </div>
          </div>
        </div>

        <div style="width:10px;"></div>
          <!--<div hide-gt-xs style="width:32px;">
            <div class="side-menu-dot" ng-click="toggleSideMenu();">
              <i class="mdi mdi-dots-vertical" role="button"></i>
            </div>
          </div>-->
    </div>
</md-dialog>
<!-- the only way? control menu -->

